# Исключаем автоматически сгенерированные файлы
FORMS/WindowsFormsApp1/*.Designer.cs linguist-generated
FORMS/WindowsFormsApp1/*.resx linguist-generated
FORMS/WindowsFormsApp1/App.config linguist-generated
FORMS/WindowsFormsApp1/packages.config linguist-generated

# Исключаем файлы проекта и решения
FORMS/WindowsFormsApp1/*.csproj linguist-generated
FORMS/WindowsFormsApp1/*.sln linguist-generated

# Исключаем конкретные файлы из статистики
FORMS/WindowsFormsApp1/AddGuestForm.cs linguist-generated
FORMS/WindowsFormsApp1/ExportForm.cs linguist-generated
FORMS/WindowsFormsApp1/HotelManagment.csproj linguist-generated
FORMS/WindowsFormsApp1/WindowsFormsApp1.sln linguist-generated

# Исключаем файлы базы данных и SQL-скрипты
SQL/*.mdf linguist-generated
SQL/*.ldf linguist-generated
SQL/*.sql linguist-generated
